body {
  background-image: url("../images/cubes.png")
}

.jumbotron {
  margin-top: 100px;
  border: #00c851 thick solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #007e33;

}

.hidden {
  display: none;
}