body {
  background-image: url("../images/stormB.jpg");
  /* min-width: 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

.jumbotron {
  margin-top: 100px;
  border: #00c851 thin  solid;
  border-radius: 5px;
  box-shadow: 0 0 200px 2px #00c851;
  background-color: rgba(255, 255, 255, .3);
}

.input-group {
  width: 50% !important;
}

.srchResult {
  margin-right: 5px;

}

.card {
  width: 18rem;
  margin-top: 25px;
  

}

#fiveDay {
  display: inline-box;
  float: right;
  height: 300px;
  margin-top: 0;
}

.card-body {
  padding: 5px;
}

.days {
  float: left;
  margin-left: 5px;
}

.list_group_item {
  border: none;
}

.hidden {
  display: none;
}