body {
  background-image: url("../images/cubes.png")
}

.jumbotron {
  margin-top: 100px;
  border: #00c851 thick solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #007e33;

}

.srchResult {
  width: 20rem;
}

.card {
  margin-top: 25px;

}

.fiveDay {

  margin-top: 25px;
  border: thin solid slateblue;
}

.days {
  /* display: inline; */
  /* float: left; */
  background-color: lightseagreen;
  border: thin solid green;
}

.hidden {
  display: none;
}